<div class="page">
  <header class="page__header">
    <div class="container">
      {{ page.header }}
    </div>
  </header>
  <main class="page__content">
    <div class="container">
      {{ page.content }}
    </div>
  </main>
  <div class="page__footer">
    <div class="container">
      {{ page.footer }}
    </div>
  </div>
</div>
